<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Just testing</title>
</head>
<body ng-controller="ctrl">
{{ whatthe }}
{{ whatthe2 }}
<h1>Datastuff</h1>
<p>Should be one roaster, actually an array with one roaster</p>
{{ datastuff }}
<ol>
    <li ng-repeat="post in datastuff">
        <a href="http://localhost/api/{{ post.$model }}/{{ post.slug }}">/{{ post.$model }}/{{ post.slug }}</a>
        <input ng-model="post.name"/>
        <input disabled="disabled" ng-model="post.id"/>
        <button ng-click="post.$save()">save</button><button ng-click="post.$refresh()">refresh</button>
    </li>
</ol>

<h1>Datastuff 2</h1>
<p>Should be an array with nothing, since, well, this doesn't exist</p>
{{ datastuff2 }}
<ol>
    <li ng-repeat="post in datastuff2">
        <a href="http://localhost/api/{{ post.$model }}/{{ post.slug }}">/{{ post.$model }}/{{ post.slug }}</a>
        <input ng-model="post.name"/>
        <input disabled="disabled" ng-model="post.id"/>
        <button ng-click="post.$save()">save</button><button ng-click="post.$refresh()">refresh</button>
    </li>
</ol>
<h3>Datastuff 3!</h3>
{{ datastuff3 }}
<ol>
    <li ng-repeat="post in datastuff3">
        <a href="http://localhost/api/{{ post.$model }}/{{ post.slug }}">/{{ post.$model }}/{{ post.slug }}</a>
        <input ng-model="post.name"/>
        <input disabled="disabled" ng-model="post.id"/>
        <button ng-click="post.$save()">save</button><button ng-click="post.$refresh()">refresh</button>
    </li>
</ol>
<h3>Datastuff 4!</h3>
{{ datastuff4 }}
<ol>
    <li ng-repeat="post in datastuff4">
        <a href="http://localhost/api/{{ post.$model }}/{{ post.slug }}">/{{ post.$model }}/{{ post.slug }}</a>
        <input ng-model="post.name"/>
        <input disabled="disabled" ng-model="post.id"/>
        <button ng-click="post.$save()">save</button><button ng-click="post.$refresh()">refresh</button>
    </li>
</ol>
<h3>New roaster!</h3>
<a href="http://localhost/api/{{ datastuff5.$model }}/{{ datastuff5.slug }}">/{{ datastuff5.$model }}/{{ datastuff5.slug }}</a>
<input ng-model="datastuff5.name"/>
<input disabled="disabled" ng-model="datastuff5.id"/>
<button ng-click="datastuff5.$save()">save</button><button ng-click="datastuff5.$refresh()">refresh</button>

<script src="js/angular.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/AngularDataServiceModule.js"></script>
<script type="text/javascript">
var app = angular.module('app',['AngularDataServiceModule']);
app.constant('angularDataServiceConfig', {
    baseUri:"http://localhost/api",
    timeout: 1000,
    modelUri: "http://localhost/api/{{ $model }}/{{ id }}"
    }
);

function ctrl($location, dataService,dataStore,dataObject,$scope,$http,$q,$rootScope){
    window.document.title = "STARTED!";

    $scope.datastuff5 = dataService.new('roaster');
    $scope.datastuff3 = {};
    $scope.datastuff3 = dataService.get({"roaster":true}).roaster;
    $scope.datastuff4 = dataService.get({"blend":true}).blend;
    $scope.datastuff2 = dataService.get({"roaster":"20"}).roaster;
    $scope.datastuff = dataService.get({"roaster":"costas-roastery"}).roaster;

    kk = function(){
        $scope.datastuff2 = dataService.get({'roaster':'1'}).roaster;
        dataStore.set('user',{'Name':"Henri"});
        $scope.whatthe = dataStore.get('user')
        $scope.whatthe2 = dataStore.get('roaster',1)
    }

    setTimeout(kk, 3000);
}
</script>
</body>
</html>